/target
/.settings
/mytests
/work
/progress
/logs
/minimunCrawlFiles
/.classpath
/.project
/.myeclipse
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
