#*
 Copyright 2013-2014 Norconex Inc.
 
 This file is part of Norconex Filesystem Collector.
 
 Norconex Filesystem Collector is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Norconex Filesystem Collector is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex Filesystem Collector. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Home</title><meta name="Author" content="Norconex Inc." /></head> 

<p class="lead">
<a href="download.html" class="btn btn-primary btn-large">Download ${currentStableVersion}</a> 
<br/><br/>

Norconex Filesystem Collector is a flexible crawler for collecting, parsing, 
and manipulating data ranging from local hard drives to network locations 
into various data repositories such as search engines. 

</p>

*********************************************************

$h2 Features

* Cross-platform
* Feature-rich
* Portable configurations
* Extract text out of many file formats (HTML, PDF, Word, etc.)
* Extract metadata associated with documents.
* Allow easy text transformation and metadata manipulation.
* Multi-threaded
* Filters unwanted document.
* Detects modified and deleted documents.
* Easy to add your own features.
* Can be used command-line or embedded in your Java application.
* Much more...

$h2 Supported Filesystems

* Local files
* BZIP2, GZIP
* FTP, FTPS
* HDFS
* HTTP, HTTPS
* RAM
* RES
* SFTP
* Temp
* WebDAV
* Zip, Jar and Tar
